/* Tailwindディレクティブを使うことで */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Global styles
  アプリケーション全体にスタイルを適用したい場合はこのファイルを編集する
*/
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
